
#terminal {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #111;
  color: #0f0;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid #0f0;
  border-radius: 5px;
  box-shadow: 0 0 10px #0f0;
  overflow-y: auto;
  height: 400px;
}


.command {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #0f0;
  animation: typing 2s steps(20, end), blink-caret 0.75s step-end infinite;
}


.output {
  margin-left: 20px;
  margin-top: 10px;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.output-line a {
  color: #00f;
  text-decoration: none;
}

.output-line a:hover {
  text-decoration: underline;
}

/* Cursor Blinking */
.cursor.blinking {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
